# Build output
/build

# Dependency directories
/node_modules
package-lock.json

# dotenv environment variables
.env
.env.local
.env.*.local

# Testing
/coverage

# Editor/IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac/Linux system files
.DS_Store
Thumbs.db

# Misc
*.tgz
*.log
*.lock

/.gh-pages-cache